footer
{
    padding-top: 15px;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.end1
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}
.titre{
    text-align: center;
    color:aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.btn-danger{
    float: right;
}
