footer
{
    padding-top: 15px;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.end1
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}
.titre{
    text-align: center;
    color:aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#l1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (max-width: 870px){
    .badge{
        margin:0.4em auto;
    }
}