footer
{
    padding-top: 15px;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.intro
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: left;
    text-align: justify;
    padding: 10px;
    color: aliceblue;
}
.end1
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}
.btn-danger{
    float: right;
}
.titre{
    text-align: center;
    color:aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#bt1{
    float: left;
}
#bt2{
    float: inherit;
}
#bt3{
    float: right;
}
@media only screen and (max-width: 870px){
    footer{
        padding-top: 0px;
    }
    table, thead, tbody, tr, th, td {
        display: block;
    }
    #bt1, #bt2, #bt3{
        float: inherit;
    }
}