/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: navy; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

footer
{
    padding-top: 15px;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

h2
{
    color : red;
    font-size: x-large;
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.intro
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: left;
    text-align: justify;
    padding: 10px;
    color: aliceblue;
}
.ind
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.ind:hover{
    color: blueviolet;
}

.box
{
    display: flex;
    justify-content: right;
    min-height: 8vh;
    min-width: 8vh;
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: right; 
    margin-top: 20px;
    
}

.button
{
    background-color: grey;
    border: none;
    border-radius: 3px;
    box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.2);
    color : black;
    cursor: pointer;
    font-size: 10em;
    font-family: monospace;
    outline: none;
    padding: 30px;
    transition: 0.2s;
}
.button:hover
{
    box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.18);
    transform: scale(1.01);
}
.button:active
{
    box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.23);
    transform: scale(0.98);
    color:white;
}
.end1
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}
#btns
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (max-width: 870px){
    footer{
        padding-top: 0px;
    }
    .container-fluid{
        height: 100%;
    }
   
}