body
{
    background-color: navy; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}footer
{
    padding-top: 15px;
}

.titre
{
    color : aquamarine;
    font-size: large;
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}
.lb{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.ind
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    padding: 10px;
   /* color: aliceblue;*/
}



.end1
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}
.btn btn-dark btn-lg btn-block{
    float: center;
}
.identification{
    text-align: center;
}