footer
{
    padding-top: 15px;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.end1
{
    font-family: comic , Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}
.titre{
    text-align: center;
    color:aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.table{
    border: 5px;
    border-color: goldenrod;
    width: 100%;
}
.titretableau{
    color: gold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.navire{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.btn-info{
    float: center;
    background-color: grey;
    border: 10px;
    border-color: black


}
.btn{
    float: left;
    size: 15px;
}
.btn-danger{
    float: right
    
}
body{
    width:100%;
}
@media only screen and (max-width: 870px){
    footer{
        padding-top: 0px;
    }
    table, thead, tbody, tr, th, td {
        display: block;
    }
    thead{
        display: none;
    }
    td{
        padding-left: 200px;
        text-align: right;
        position: relative;
        
    }
    td::before {
        content:attr(data-label);
        position: absolute;
        top:0;
        left:0;
        width: 190px;
        bottom: 0;
        color: gold;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: left;
        font-weight: bold;
    }
    tr{
        margin-bottom: 5rem;
    }
    .container-fluid{
        height: 100%;
    }
   
    
}